My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        -136
      ],
      "id": "60430929-719b-499e-9bfb-534f9560f721",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a 60-second engaging YouTube script about {{$json.topic}}.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        80,
        -136
      ],
      "id": "f601903a-6f1d-4d15-af47-2d4dc22d7705",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61691847-41ce-4aeb-9c9f-f7ca9180a072",
              "name": "topic",
              "value": "Benefits of AI for Students",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        -136
      ],
      "id": "b05691ae-fa8e-4847-8b18-ac3c035f837d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0762e5d5-5ba4-4c1e-a83d-bc0206a9ab56",
              "name": "=script",
              "value": "={{$json.choices[0].message.content}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        -136
      ],
      "id": "62dc3ffc-055a-4f50-9c13-d8c7a96b7949",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_NGROK_URLv/tts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{$json.clean_script}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        752,
        -136
      ],
      "id": "6128de19-a44a-4a9a-b4fd-45da84bb5b13",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.script;\n\nlet cleaned = raw\n  .replace(/\\*\\*/g, \"\")        // remove markdown bold\n  .replace(/\\[.*?\\]/g, \"\")     // remove [timestamps]\n  .replace(/\\(.*?\\)/g, \"\")     // remove (directions)\n  .replace(/Host:/g, \"\")       // remove Host:\n  .replace(/Title:/g, \"\")      // remove Title:\n  .replace(/\"/g, \"\")           // remove quotes\n  .replace(/\\n+/g, \" \")        // remove newlines\n  .trim();\n\n// Remove everything before narration\ncleaned = cleaned.replace(/^.*?Student Success\\s*/i, \"\");\n\n// Remove leftover \"Intro\"\ncleaned = cleaned.replace(/\\bIntro\\b:?/gi, \"\");\n\nreturn [{\n  json: {\n    clean_script: cleaned\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -136
      ],
      "id": "c4f10ae1-7ab5-4ac6-93c7-6b9eb07a82cf",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://api.pexels.com/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{$item(0).$node[\"Edit Fields\"].json[\"topic\"]}}"
            },
            {
              "name": "per_page",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "YOUR_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        -208
      ],
      "id": "c6b9c0ca-e21e-4f7a-a0bd-543eba8467f9",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "jsCode": "const photos = $json.photos;\n\nconst images = photos.map(photo => {\n  return {\n    image_url: photo.src.large2x\n  };\n});\n\nreturn images.map(img => ({\n  json: img\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        -208
      ],
      "id": "229869e8-2252-4170-a000-7b8b885b9fbc",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "url": "={{$json.image_url}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1648,
        -208
      ],
      "id": "c3039681-be99-4a25-8ca4-704cf2024774",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_NGROK_URL/video",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "image"
            },
            {
              "parameterType": "formBinaryData",
              "name": "audio",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2320,
        -136
      ],
      "id": "7ecaca4c-991a-4d97-b0f6-67ad085585de",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  // example: item.binary has both files but same key name on different branches\n  // Make them explicit keys:\n  item.binary = {\n    image: item.binary.image ?? item.binary.data,\n    audio: item.binary.audio ?? item.binary.data_1\n  };\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        -208
      ],
      "id": "997169de-9227-4875-a8a1-616cf41f7d66",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2096,
        -136
      ],
      "id": "2e021702-685a-45ac-839c-7b0534978ffe",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nfor (let i = 0; i < 5; i++) {\n  items.push({\n    json: {},\n    binary: $input.item.binary\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -136
      ],
      "id": "88114c34-87f9-4f74-a9b5-95bbe9ef4fee",
      "name": "Code in JavaScript3"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        []
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "dcc34014-ee32-4290-9c58-a1458f31a73a",
  "meta": {
    "instanceId": "860dfbf1b6ff978ade8f1931a2557e9873bbbaefabe47ab2f4481ac4b0678e10"
  },
  "id": "EHHvPWLYz0XzxTGD",
  "tags": []
}